/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin:0;
  font-family: 'NotoSans', 'NotoSans-Regular', 'NotoSansUI-Regular';
}

div.whoops-404 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: darkred;
  color: ghostwhite;
  font-size: 1.5em;

  a {
    color: white;
    text-decoration: underline;
    margin: 1em;
    &:hover {
      color: yellow;
      text-decoration: none;
    }
  }
}
