.personal-form {
  .personal-form-title {}
   .form-row {
     .career-speciality-item-1 {
       width: 130px;
     }
     .career-speciality-item-2 {
       width: 220px;
       margin-bottom: -15px

     }
     .personal-speciality-form-holder {
       display: flex;
       justify-content: flex-end;
     }
   }
}
