.time-selection-form {
  margin-top: 198px;
  font-family: 'NotoSans-Light';

  strong {
    font-family: 'NotoSans-Medium';
  }

  hr {
    margin: 8px 0px;
  }
}



.department-notice {

  padding-top: 36px;

  li {
    color: #e24444;
    list-style-type: none;
    font-size: 12px;
  }
}