.login-form {
  padding-top: 118px;
  display: flex;
  justify-content: center;
  font-weight: 300;
}

.login-form-custom-form {
  width: 360px;
  height: 40px;
}

.login-form-button {
  width: 360px;
  height: 46px;
  background-color: #ff5858;
  color: #fffdfd;
  font-size: 16px;
}
