.personal-form {
  .personal-form-title {}
  .form-row {
    .career-division-item-1 {
      width: 130px;
    }
    .career-division-item-2 {
      width: 220px;
      margin-bottom: -15px
    }

    .career-duration-text {
      width: 170px;
      margin-bottom: -15px
    }
  }
}
