.field-group-inline {
  display: inline-flex;
  justify-content: space-between;
  width: 500px;
  .control-label {
    padding-right:30px;
    font-family: 'NotoSans-Light';
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }
}
