.department-question-form {

  margin-top: 52px;
  margin-bottom: 220px;

  .department-title {
    font-size: 26px;
    color: #707070;
    font-family: 'NotoSans-Thin';
    margin: 18px 0px;
  }

  .init-answer-form {

  }

  .noninitial-answer-form {
    margin-top: 80px;
  }

}